:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: rgba(255, 255, 255, 0.87);
  --secondary-color: #242424;
  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.author {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.4;
}

.author--testimonials {
  transition: transform 0.3s ease-in-out 0.1s, opacity 0.3s ease-in-out 0.1s;
}

.position {
  margin: 0;
  color: #aaaaaa;
  line-height: 1.2;
}

.body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  /* max-width: 512px; */
  border: 2px solid transparent;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.card--second {
  border: 2px solid rgba(255, 255, 255, 0.87);
  padding: 1rem;
}

.cards {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.card__description {
  padding: 1rem;
  margin: 0;
  background-color: #1e1e1e;
  border-radius: 1rem;
  text-align: left;
  position: relative;
}

.card__description--second {
  padding: 0;
  background-color: inherit;
}

.card__description::before {
  content: "";
  bottom: 0;
  left: 3.5rem;
  /* background-color: white; */
  transform: translate(-50%, 100%);
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1e1e1e;
  border-bottom: 0 solid transparent;
  position: absolute;
}

.card__description--second::before {
  border: none;
}

.card__footer {
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}

.card__footer--second {
  padding: 0;
}

.card__image {
  order: -1;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.group {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  animation: spin 15s infinite linear;
}

/* .group:first-child {
  background-color: yellow;
}

.group:last-child {
  background-color: pink;
} */

.loop {
  padding-block: 1rem;
  border-block: 2px solid;
  width: 100%;
  display: flex;
  overflow: hidden;
  user-select: none;
  scrollbar-width: none;
  /* for firefox */
}

.loop:hover .group {
  animation-play-state: paused;
}

.loop::-webkit-scrollbar {
  display: none;

}

.loop blockquote {
  height: 100%;
  width: 380px;
}

@keyframes spin {
  to {
    translate: -100%;
  }
}

.review {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.review__image {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}

.review-content {
  border-radius: 1rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0;
}


.review-content__description {
  margin: 0;
}

.testimonials {
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials__description {
  font-size: clamp(1rem, 4.5vw, 1.3rem);
  max-width: 384px;
  margin: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.testimonials__users {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 0 0 1rem 0;
}

.carousel {
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.carousel__image {
  height: 0;
  width: 0;
  opacity: 0.35;
  border-radius: 50%;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.carousel__image--active {
  height: 3rem;
  width: 3rem;
  opacity: 1;
}

.title {
  margin: 0;
}

.button {
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.button:hover {
  color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 6rem;
    font-size: 1.1rem;
  }

  .card {
    height: 100%;
  }

  .carousel {
    width: 10rem;
  }

  .carousel__image {
    height: 2.5rem;
    width: 2.5rem;
  }

  .carousel__image--active {
    height: 3rem;
    width: 3rem;
  }

  .carousel__image--inactive {
    width: 0;
    height: 0;
  }

  .title {
    grid-column: span 2;
  }

  .loop {
    grid-column: span 2;
  }

  .loop blockquote {
    width: 420px;
  }

  .review {
    grid-column: span 2;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 2rem;
    place-items: center;

    font-size: 1.3rem;
  }

  .review-content {
    height: 100%;
    text-align: left;
  }

  .review__image {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .testimonials {
    grid-column: span 2;
    font-size: 1.3rem;
    height: 17rem;
  }

  .testimonials__description {
    max-width: 512px;
  }

}

@media screen and (min-width: 1024px) {

  .cards {
    font-size: 1.2rem;
  }

  .review {
    font-size: 1.5rem;
  }

  .testimonials {
    grid-column: span 2;
    font-size: 1.4rem;
    height: 16rem;
  }

  .testimonials__description {
    max-width: 688px;
  }

  .carousel {
    width: 12rem;
    height: 3.5rem;
  }

  .carousel__image {
    height: 3rem;
    width: 3rem;
  }

  .carousel__image--active {
    height: 3.5rem;
    width: 3.5rem;
  }

  .carousel__image--inactive {
    width: 0;
    height: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--secondary-color);
    background-color: #ffffff;
  }

  .card--second,
  .testimonials {
    border-color: var(--secondary-color);
  }

  .review-content {
    color: var(--main-color)
  }

  .card__description {
    color: var(--main-color);
  }

  .card__description--second {
    color: var(--secondary-color);
  }
}

.left-swing {
  transition: none;
  opacity: 0;
  transform: translateX(40px);
}

.right-swing {
  transition: none;
  opacity: 0;
  transform: translateX(-40px);
}

.up-swing {
  transition: none;
  opacity: 0;
  transform: translateY(-30px);
}